<!DOCTYPE HTML>
{{ partial "attribution.html" }}
<html>
  <head>
    {{ partial "header.html" }}
  </head>
  <body class="right-sidebar">
    <div id="page-wrapper">

      <div id="header">
	<div class="inner">
	  <header><h1><a href="index.html" id="logo">Writings</a></h1></header>
	</div>

	{{ partial "top_nav.html" }}
      </div>

      <div class="wrapper style1">
	<div class="container">
	  <div class="row 200%">
	    <div class="8u 12u(mobile)" id="content">
	      <article id="main">
		{{ .Content }}		
	      </article>
	    </div>

	    {{ partial "blog/sidebar.html" . }}
	  </div>
	</div>
      </div>

      {{ partial "footer.html" }}
    </div>

    {{ partial "scripts.html" }}
  </body>
</html>
